/* position animation */
.tooltip-item {
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #e35583;
  -webkit-animation: pulse 0.6s infinite alternate;
  animation: pulse 0.6s infinite alternate;
}
.camera-list {
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1300;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease;
  pointer-events: none;
}
.camera-list .video {
  width: 100%;
  height: 152px;
  background: rgb(56, 55, 55);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
.camera-list .label {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
}
.camera-zoomin {
  margin: 0px auto;
  position: fixed;
  bottom: 230px;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
.camera-zoomin-container {
  padding: 5px 10px 10px 10px;
  border-radius: 5;
  background-color: #aa3724;
  position: fixed;
  bottom: 230px;
  opacity: 0;
  transition: transform 0.2s ease-in-out;
}
.camera-zoomin-container.show {
  opacity: 1;
  animation: grow 1.2s ease;
}
.camera-zoomin-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
.camera-list .video .imgbox {
  display: block;
  position: relative;
  border: 1px solid gold;
  cursor: zoom-in;
}
.camera-list .video .imgbox::after {
  display: block;
  content: '';
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 1s;
}
.camera-list .video:hover > .imgbox::after {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1s;
}
.camera-list .video > .imgbox::before {
  content: '확대보기';
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translatex(-50%) translatey(-50%);
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  opacity: 0;
  transition: opacity 2s;
  z-index: 1;
}
.camera-list .video:hover > .imgbox::before {
  opacity: 1;
  transition: opacity 2s;
}
.icon-small-close {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.icon-small-close::before {
  display: block;
  content: '✖';
  color: #fff;
}
.icon-small-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

// logo animation
img.logo {
  // animation: rotate-scale-logo 15s 15s ease-in-out infinite;
  // animation: swing 3s ease infinite;
  animation: bounce-in 3s ease infinite;
}
img.m-logo {
  max-height: 30px;
  margin: auto;
  display: block;
}
img.m-logo-bright {
  max-height: 30px;
  filter: brightness(1.5);
}
// logo text animation
.logo-text {
  // mix-blend-mode: multiply;
  // animation: fade-in-logo-text 15s 15s ease-in-out infinite;
  // text-shadow: -1px -1px 0px 0px #dfefff;
}

.menubox:hover {
  .menu-svg {
    color: #afec08;
    // animation: swing 2s ease infinite;
    animation: spin 2s ease;
  }
  .menu-title {
    // color: #21c2d6;
    color: #afec08;
  }
}

.white-icon img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.gd-blue {
  // background: linear-gradient(60deg, #27438a, #4f6fc2);
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgb(40, 40, 154) 0%,
    rgb(44, 80, 225) 37%,
    rgba(0, 136, 255, 1) 100%
  );
}

body {
  overflow-x: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  // border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, rgb(125, 123, 123), rgb(186, 185, 185), #e8e8e8);
  // border-radius: 4px;
  &:hover {
    background: linear-gradient(135deg, rgb(95, 93, 93), rgb(156, 155, 155), #d8d8d8);
  }
}
