.ol-popup {
  position: absolute;
  background-color: white;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  font-size: 15px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: '✖';
}

.ol-popup-multi {
  position: relative;
  background-color: #3399cc;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 460px;
  color: white;
  max-height: 430px;
}
.ol-popup-multi:after,
.ol-popup-multi:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup-multi:after {
  /* border-top-color: white; */
  border-top-color: #3399cc;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup-multi:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-multi .popup-content {
  max-height: 344px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ol-popup-multi .popup-bottom {
  padding-top: 15px;
  height: 50px;
}
.ol-popup-multi .popup-content::-webkit-scrollbar {
  width: 10px;
}
.ol-popup-multi .popup-content::-webkit-scrollbar-thumb {
  background: #ffaa00; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.ol-popup-multi .popup-content::-webkit-scrollbar-track {
  background: rgba(238, 117, 3, 0.205); /*스크롤바 뒷 배경 색상*/
}

.legend {
  background-color: #000;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 1000;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

#ol-overlay {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 100px;
}

.stat-expand-view {
  position: fixed;
  top: 44px;
  left: 110px;
  z-index: 999;
  display: flex;
}
.status-header {
  position: fixed;
  top: 48px;
  /* width: 100% */
  left: 160px;
  right: 0;
  z-index: 999;
  display: flex;
  pointer-events: none;
  // animation: bounce-in 0.8s ease;
  animation: fadeIn 0.8s ease;
}
.status-header.hide {
  animation: bounce 0.6s ease;
}
.status-label {
  color: 'white';
  font-size: '18px';
  padding: '5px';
}
.status-count {
  color: white;
  font-size: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: right;
}

.btn-camera {
  width: 120px;
  height: 40px;
  border-radius: 40px;
  /* border: 1px solid rgba(255, 255, 255, 0.349); */
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.icon-container {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 0.9em;
}

.btn-camera:hover .icon-container {
  width: 110px;
  transition-duration: 0.3s;
}

.btn-camera:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.btn-camera:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

.btn-zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 34px;
  width: 132px;
  border: none;
  /* background: #2b87ff34; */
  background: #0248a3;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  float: left;
}
.btn-zoom:hover {
  background: #1178ff;
}
.btn-zoom .label {
  line-height: 20px;
  font-size: 1em;
  color: #f3f1f1;
  letter-spacing: 1px;
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 34px;
  width: 132px;
  border: none;
  background: #027a48;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  float: right;
}
.btn-close:hover {
  background: #02a360;
}
.btn-close .label {
  line-height: 20px;
  font-size: 1em;
  color: #f3f1f1;
  letter-spacing: 1px;
}

.b-padding-5 {
  padding-bottom: 5px;
}

.cluster-item {
  padding: 5px;
  font-size: 15px;
  margin-right: 10px;
  position: relative;
}

.cluster-item.water.Norm::before {
  background-color: #22c55e;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}
.cluster-item.water.Attn::before {
  background-color: #3b82f6;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}
.cluster-item.water.Warn::before {
  background-color: #f59e0b;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}
.cluster-item.water.Alert::before {
  background-color: #f97316;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}
.cluster-item.water.Crit::before,
.cluster-item.water.Warn.Err::before,
.cluster-item.water.Alert.Err::before,
.cluster-item.water.Attn.Err::before,
.cluster-item.water.Norm.Err::before,
.cluster-item.water.Crit.Err::before {
  background-color: #ef4444;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}

.cluster-item.gate.UpOk::before,
.cluster-item.gate.UpLock::before,
.cluster-item.cam.Ok::before,
.cluster-item.ebrd.Ok::before,
.cluster-item.emcall.Ok::before {
  background-color: #429e22;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}

.cluster-item.cam.Na::before,
.cluster-item.gate.Na::before,
.cluster-item.gate.Moving::before,
.cluster-item.gate.UpAction::before,
.cluster-item.gate.DownAction::before,
.cluster-item.water.Na::before,
.cluster-item.ebrd.Na::before,
.cluster-item.emcall.Na::before,
.cluster-item.cam[class*='null']::before,
.cluster-item.gate[class*='null']::before,
.cluster-item.water[class*='null']::before,
.cluster-item.ebrd[class*='null']::before,
.cluster-item.emcall[class*='null']::before {
  background-color: #787b81;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}

.cluster-item.gate.DownOk::before,
.cluster-item.cam.Err::before,
.cluster-item.ebrd.Err::before,
.cluster-item.emcall.Err::before {
  background-color: #cc4655;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}

.cluster-item.cluster-item.cluster-item:hover {
  transform: translate(0px);
  transition-duration: 0.3s;
  /* background-color: #93d6f5; */
  background-color: #1178ff;
  cursor: pointer;
}

.cluster-item Img {
  width: 30px;
  float: left;
  vertical-align: middle;
  margin-top: -2px;
  padding-right: 5px;
  position: relative;
}

.bookmark {
  position: fixed;
  top: 45px;
  /* width: 100% */
  right: 10px;
  z-index: 999;
  display: flex;
}

.bookmark th,
td {
  text-align: center;
  padding: 5px;
}

.address-list {
  width: 250px;
  height: 250px;
  overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
.address-list::-webkit-scrollbar {
  width: 10px;
}

.address-list::-webkit-scrollbar-thumb {
  background: #ffaa00; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.address-list::-webkit-scrollbar-track {
  background: rgba(238, 117, 3, 0.1); /*스크롤바 뒷 배경 색상*/
}

.address-list-item {
  padding: 10px;
}

.address-list-item:hover {
  /* background-color: #05b864; */
  background-color: #57585752;
  cursor: pointer;
}

.copy {
  float: right;
  color: #ffaa00;
  padding: 2px;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid #ffaa00;
  border-radius: 3px;
  cursor: copy;
}

.toolbar {
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 999;
  display: flex;
}

.region-box {
  position: fixed;
  bottom: 100px;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.region-list {
  width: 250px;
  max-height: 350px;
  overflow-y: auto;
}

/* 스크롤바의 폭 너비 */
.region-list::-webkit-scrollbar {
  width: 10px;
}

.region-list::-webkit-scrollbar-thumb {
  background: #32b7ff; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.region-list::-webkit-scrollbar-track {
  background: rgba(0, 81, 233, 0.3); /*스크롤바 뒷 배경 색상*/
}

.MuiSpeedDialAction-fab {
  background-color: #f8df00;
  width: 2.8rem;
  height: 2.8rem;
  box-shadow: 0 0 0 2px white;
}
.MuiSpeedDialAction-fab:hover {
  color: #ffffff;
  background-color: #070707;
}
.MuiSpeedDialAction-fab:disabled {
  box-shadow: 0 0 0 2px white;
  pointer-events: auto;
}
.MuiSpeedDialAction-fab:disabled:hover {
  background-color: #94979a56;
}
.MuiSpeedDialAction-Tooltip {
  background-color: #ef4444;
}

.draw-menu-box {
  position: fixed;
  bottom: 60px;
  right: 96px;
  z-index: 999;
  width: 46px;
  height: 104px;
  margin-bottom: 42px;
}
.visable-y {
  visibility: visible;
}
.visable-n {
  visibility: hidden;
}
