
# direnv configuration 파일. 
export DATABASE_URL="mysql://ldms:ldms1234@bisangsoft.iptime.org:33060/ldms" 

#export NVM_INC=/home/bs/.nvm/versions/node/v22.11.0/include/node
#export NVM_BIN=/home/bs/.nvm/versions/node/v22.11.0/bin
#export PATH=/home/bs/.nvm/versions/node/v22.11.0/bin:$PATH
SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
export PATH=$SCRIPT_DIR/bnsdoc/cmd:$PATH
export NODE_VERSION_PREFIX=v
export NODE_VERSIONS=~/.nvm/versions/node
use node 22
