/*!

=========================================================
* Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/

.dashbd {
  // custom

  // dark table
  .table-list {
    width: 100%;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  .table-list tr:hover {
    background-color: #3c3e5c;
  }
  .table-list tr th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #3c3e5c;
    color: #e6e6e6;
  }
  .table-list tr td {
    border-bottom: 1px solid #3d3f51;
    padding: 8px;
    text-align: center;
    color: #afafb7;
  }
  .table-list .left {
    text-align: left;
  }

  // light table
  .table-list-light {
    width: 100%;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  .table-list-light tr:hover {
    background-color: #ecedf3;
  }
  .table-list-light tr th {
    border-top: 1px solid #d6d6e2;
    border-bottom: 1px solid #d6d6e2;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
    color: #5f5f5f;
  }
  .table-list-light tr td {
    border-bottom: 1px solid #d6d6e2;
    padding: 8px;
    text-align: center;
    color: #67676d;
  }

  .fleft {
    float: left;
  }

  .fright {
    float: right;
  }

  .bold {
    font-weight: bold;
  }

  .c-gray {
    color: rgb(128, 127, 127);
  }

  .muti-label {
    float: right;
    padding: 10px 0px 0px 20px;
  }

  .load-weather {
    padding-top: 50px;
    color: #61afef;
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .load-weather::after {
    content: '';
    width: 3px;
    height: 3px;
    background: currentColor;
    position: absolute;
    bottom: 5px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader2 1s linear infinite;
  }
  @keyframes animloader2 {
    0% {
      box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 10px 0 #fae100, 20px 0 rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 10px 0 #fae100, 20px 0 #fae100;
    }
  }

  .clock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #49f557;
    font-size: 20px;
    background-color: #333333;
    border-radius: 5px;
  }

  /* SMS 전송 Noti Form  */
  .form-sms-container {
    position: fixed;
    width: 500px;
    height: 300px;
    z-index: 999;
    // background-color: #fff;
    background-color: #3c3e5c;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 13px 10px -5px rgba(0, 0, 0, 0.2);
    left: 90px;
    // opacity: 0;
    display: none;
    transform-origin: 50% 0%;
    top: 0;
    pointer-events: none;
  }
  .form-sms-container.show {
    animation-name: flipInX;
    animation-duration: 0.8s;
    // opacity: 1;
    display: block;
    pointer-events: auto;
  }
  .form-sms-container.hide {
    animation-fill-mode: forwards;
    // animation-name: hinge, hiddenArea;
    animation-name: fadeOut, hiddenArea;
    animation-delay: 0s, 2s;
    animation-duration: 2s, 0s;
  }
  .form-sms-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #27293d;
    // background: linear-gradient(60deg, #ab47bc, #8e24aa);
    font-size: 20px;
    padding: 5px;
  }
  .msg-list-container {
    position: fixed;
    width: 500px;
    height: 300px;
    z-index: 999;
    background-color: #3c3e5c;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 13px 10px -5px rgba(0, 0, 0, 0.2);
    left: 90px;
    transform-origin: 50% 0%;
    top: 310px;
    // opacity: 0;
    display: none;
  }
  .msg-list-container.show {
    animation-name: flipInX;
    animation-duration: 0.8s;
    // opacity: 1;
    display: block;
    pointer-events: auto;
  }
  .msg-list-container.hide {
    animation-fill-mode: forwards;
    // animation-name: hinge, hiddenArea;
    animation-name: fadeOut, hiddenArea;
    animation-delay: 0s, 2s;
    animation-duration: 2s, 0s;
  }
  .msg-list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    // background-color: #27293d;
    font-size: 20px;
    padding: 5px;
  }
  .msg-list-body {
    max-height: 220px;
    overflow-y: auto;
  }
  .msg-list-body::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 폭 너비 */
  }
  .msg-list-body::-webkit-scrollbar-thumb {
    background: rgba(250, 225, 0, 0.7); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
  }
  .msg-list-body::-webkit-scrollbar-track {
    background: rgba(39, 41, 61, 0.3); /*스크롤바 뒷 배경 색상*/
  }

  .form-count-container {
    position: fixed;
    width: 400px;
    z-index: 999;
    // background-color: white;
    background-color: #3c3e5c;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 13px 10px -5px rgba(0, 0, 0, 0.2);
    top: 0;
    right: -400px;
    transition: transform 0.3s ease-in-out;

    // 모바일에서 100% 너비 적용
    @media (max-width: 768px) {
      width: 100%;
      right: -100%;
    }
  }
  .form-count-container.show {
    transform: translateX(-420px);

    // 모바일에서 100% 너비일 때 transform 조정
    @media (max-width: 768px) {
      transform: translateX(-100%);
    }
  }
  .noti-count-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #27293d;
    // background: linear-gradient(60deg, #606596, #27293d);
    font-size: 20px;
    padding: 5px;
  }

  .c-norm {
    color: #a1a2a4;
  }
  .c-err {
    color: #e73f3b;
    animation: flash 600ms ease infinite alternate;
  }
  .c-up {
    color: #429e22;
  }
  .c-down {
    color: #f53a06;
  }
  .c-alert {
    color: #f97316;
    // animation: flash 500ms ease infinite alternate;
  }
  .c-crit {
    color: #ef4444;
    // animation: flash 500ms ease infinite alternate;
  }

  .bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  .circle-norm {
    width: 14px;
    height: 14px;
    background-color: #35cd4b;
    border-radius: 50%;
    display: inline-block;
  }
  .circle-warn {
    width: 14px;
    height: 14px;
    background-color: #fdbc40;
    border-radius: 50%;
    display: inline-block;
  }
  .circle-err {
    width: 14px;
    height: 14px;
    background-color: #fc625d;
    border-radius: 50%;
    display: inline-block;
  }

  .water-graph-header {
    // display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 1rem;
    font-weight: 600;
    // position: relative;
    //   background-color: #3d3f51;
  }
  .water-title {
    animation: wooble 2s ease infinite;
  }

  /* Full Overlay style */
  .full-overlay {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: rgb(3, 114, 241);
    background: rgba(0, 0, 0, 0.8);
  }
  .full-overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(/images/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
    cursor: pointer;
  }
  .overlay-slidedown {
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
  }
  .overlay-slidedown.show {
    visibility: visible;
    transform: translateY(0%);
    transition: transform 0.4s ease-in-out;
  }
  .alarm-header {
    font-size: 42px;
    font-weight: 400;
    color: #e8413d;
    padding: 30px 0 20px 0;
    text-align: center;
  }
  .alarm-header .icon {
    color: #00ffff !important;
    font-size: 50px !important;
    font-weight: 400;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -8px;
  }
  .alarm-info-box {
    padding: 40px 10px 10px 10px;
  }
  .alarm-info-title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    background-color: #ea5a47;
    font-size: 30px;
    font-weight: 500;
  }
  .alarm-info {
    border: 1px solid #fff;
    margin-top: 10px;
    display: flex;
    margin: auto;
    color: #fff;
    height: 260px;
  }

  /* 날씨 정보 */
  .weather-info-box {
    padding: 50px 10px 10px 10px;
  }
  .weather-curr-info {
    height: 240px;
    padding: 20px;
    // background-color: #fff;
    text-align: center;
    font-size: 24px;
    color: #dde3e9;
  }
  .weather-curr-info-light {
    height: 240px;
    padding: 20px;
    // background-color: #fff;
    text-align: center;
    font-size: 24px;
    color: #333435;
  }
  .weather-curr-item {
    display: block;
    font-size: 40px;
    color: #fae100;
  }
  .weather-curr-item-light {
    display: block;
    font-size: 40px;
    color: #fa9806;
  }
  .weather-curr-item2 {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    // animation: wobble 3s ease infinite;
  }
  .weather-curr-item3 {
    display: block;
    font-size: 50px;
    animation: swing 3s ease infinite;
    color: #ea5a47;
  }
  .weather-txt {
    font-size: 34px;
  }
  .weather-icon img {
    filter: invert(74%) sepia(4%) saturate(4138%) hue-rotate(18deg) brightness(100%) contrast(81%);
  }
  .weather-icon-light img {
    filter: invert(91%) sepia(19%) saturate(6014%) hue-rotate(347deg) brightness(98%) contrast(92%);
  }
  .weather-graph {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background-color: #ea5a47;
  }
  .btn-camera-view {
    font-size: 14px;
    padding: 2px 10px;
    border: 1px solid #fff;
    border-radius: 2px;
  }
  .water-name {
    padding-top: 5px;
  }

  .map-weather-box {
    position: absolute;
    top: 81px;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    pointer-events: none;
  }
  .map-weather {
    padding-top: 40px;
    margin: 0 5px;
    // width: 580px;
    width: 100%;
    height: 340px;
    // background-color: rgba(0, 0, 0, 0.4);
    z-index: 998 !important;
  }
  .bounce-marker {
    color: rgba(255, 255, 255, 0.6);
    // color: #fff;
    font-size: 40px;
    animation: bounce2 4s ease infinite;
  }
  .bounce-marker-light {
    color: rgba(101, 166, 252, 0.8);
    // color: #fff;
    font-size: 40px;
    animation: bounce2 4s ease infinite;
  }
  .limit-line {
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*# sourceMappingURL=dashboard-free.css.map */
}
