@media screen and (max-width: 900px) {
  .status-header {
    position: fixed;
    // top: 48px;
    top: 200px;
    /* width: 100% */
    // left: 160px;
    left: 10px;
    right: 0;
    z-index: 999;
    display: flex;
    pointer-events: none;
    // animation: bounce-in 0.8s ease;
    animation: fadeIn 0.8s ease;
  }
  .stat-expand-view {
    position: fixed;
    // top: 44px;
    top: 158px;
    // left: 110px;
    left: 0px;
    z-index: 999;
    display: flex;
  }
  .bookmark {
    position: fixed;
    top: 110px;
    /* width: 100% */
    right: 10px;
    z-index: 999;
    display: flex;
  }
  .ol-popup-multi {
    position: relative;
    background-color: #3399cc;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    // bottom: 12px;
    // left: 10px;
    // min-width: 200px;
    min-width: 200px;
    max-width: 380px;
    color: white;
    max-height: 430px;

    left: 0%;
    margin: 0 0 0 -50px;
  }
  .weather-region {
    margin-right: 0px;
  }
  .scroll-table {
    max-height: 250px;
    overflow-x: auto;
    overflow-y: auto;
  }
  .form-group-container {
    position: fixed;
    width: 100%;
    height: 200px;
    z-index: 999;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 13px 10px -5px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .form-group-container.show {
    transform: translateX(0);
  }
}
